<%= render 'compose_with_btn' %>

<hr>
<div>
  <div class="col-sm-10">
    <h3>From: <%=link_to @conversation.originator.name,
      @conversation.originator%></h3>
    <h4><%=@conversation.messages.last.subject%></h4>
in the text box if it is -->
    <textarea type="message" class="form-control" readonly="true"
      id="msg_body" rows="5">
<!-- Do not indent; extra white space will show -->
<%=@conversation.messages.last.body%>
    </textarea>
  </div>
  <button type="submit" class="btn btn-large btn-primary" onClick="reply()">
    Reply</button>
  <%= link_to("Back", conversations_path, :class => "btn btn-large") %>
</div>

<script type="text/javascript">
  function reply(){
    $("#msg_recipient").val("<%=@conversation.originator.name%>");
    $("#msg_subject").val("RE: <%=@conversation.subject%>");
    $("#compose").modal();
  }
</script>
