<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Include js for the popover displaying commissions statistics -->
  <script type="text/javascript"><%= render 'commissions_profile.js'%></script>
  <title><%=@user.name%></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
  <body>
    <div class="container">
      <div class="row-fluid">
        <div class="span12">
          <div class="col-md-3">
            <%= image_tag @user.masterpiece %>
          </div>
          <div class="span9">
            <h2><%=@user.name%>'s Profile</h2>

            <!-- Counts the different states of the commissions the user
                   has received -->
            <% @numNewR = 0 %>
            <% @numPending = 0 %>
            <% @numAccepted = 0 %>
            <% @numDeclined = 0 %>
            <% @numFinished = 0 %>
            <%@user.received_commissions.each do |commission| %>
                <% if commission.state == "NewRequest" %>
                  <% @numNewR += 1 %>
                <% elsif commission.state == "pending" %>
                  <% @numPending += 1 %>
                <% elsif commission.state == "Accepted" %>
                  <% @numAccepted += 1 %>
                <% elsif commission.state == "Declined" %>
                  <% @numDeclined += 1 %>
                <% elsif commission.state == "Finished" %>
                  <% @numFinished +=1 %>
                <% end %>
            <%end%>

            <!-- Set the data-content of the portfolio popover to include the 
                   counts of the different states of the user's received 
                   commissions -->
            <p><span class="btn" data-toggle="popover" 
              data-content="<table>
              <tr>
                <td>Pending</td>
                <td align=right><%=@numPending + @numNewR%></td>
              </tr>
              <tr>
                <td>Accepted</td>
                <td align=right><%=@numAccepted.to_s%></td>
              </tr>
              <tr>
                <td>Declined</td>
                <td align=right><%=@numDeclined.to_s%></td>
              </tr>
              <tr>
                <td>Finished</td>
                <td align=right><%=@numFinished.to_s%></td>
              </tr>
            </table>">
              View Commission Stats </span></p>

              <p>Member since <%=@user.created_at.strftime("%B %Y")%></p>

              <% if current_user != nil && @user.name != current_user.name %>
                <%=link_to "Commission", 
                edit_commission_path(:artist_id => @user.id), 
                :class => "commissionbtn"%>
                <!-- TODO: Do the same with a messaging link-->
                <button type="submit" class="messagebtn" onClick="reply()">
    		Message</button>
	      <% elsif @current_user != nil && @user.name == current_user.name %>
		<%=link_to "My Commissions", commissions_requests_path,
		:class => "commissionlistbtn"%>
              <% end %>
          </div> 
        </div> 
      </div>
    </div>

    <!-- break between user info and art --> 
 <hr>
	  <% if @current_user != nil && @user.name == current_user.name %>
		  <%=link_to "Edit Your Featured Art", arts_path%>
    <% end %>
 
    <div class="img-container container">
      <div class="row-fluid">
        <div class="img-row row">
          <% @user.arts.each do |art| %>  
            <!-- Skip profile picture -->
            <% next if (art.location == @user.masterpiece) %>
            <div class="thumbnail col-md-3">
            <%= image_tag art.location, :class => 'img-item' %>
            <div class="caption">
              <h2><%=art.title%></h2>
              <p><%=art.description%></p>
            </div>
          </div>  
          <% end %> 
        </div>
      </div>
    </div>
  
   

      
     
    </div>
  </body>
</html>

<%= render 'compose_to_user' %>

<script type="text/javascript">
  function reply(){
    $("#msg_recipient").val("<%=@user.name%>");
    $("#compose-to-user").modal();
  }
</script>
