<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%=@user.name%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div class="row-fluid">
        <div class="span12">
          <div class="col-md-3">
            <%= image_tag @user.masterpiece %>
          </div>
          <div class="span9">
            <h2><%=@user.name%>'s Profile</h2>
            <h5>My name is <%=@user.name%>, and my motto is 'just keep swimming!'</h5>
            <p><span class="badge">
              <%=@user.received_commissions.count%>
                <!-- Make sure that the singular / plural grammar is 
                     correct -->
                <% if @user.received_commissions.count == 1 %>
                  </span> Commission</p>
                <% else %>
                  </span> Commissions</p>
                <% end %>
            <p>Artist since <%=@user.created_at.strftime("%B %Y")%></p>
            <%=link_to "CommissionMe »", new_commission_path(:artist_id => @user.id), :class => "commissionbtn"%>
            <!-- a class="btn btn-large btn-primary">CommissionMe &raquo;</a-->
          </div> <!-- span 9-->
        </div> <!-- end of span12 in hero -->
      </div> <!-- end of row-fluid in hero -->
    </div>

  <hr>
<!-- Container for : Artist's work -->
  <div class="container">
    <div class="row-fluid">
      <div class="row">
        <div class="thumbnail col-md-3">
          <%= image_tag "BioCorgi.jpg" %>
          <div class="caption">
            <h2>Title</h2>
            <p>Description</p>
          </div>
        </div>  

        <div class="thumbnail col-md-3">
          <%= image_tag "BioCorgi.jpg" %>
          <div class="caption">
            <h2>Title</h2>
            <p>Description</p>
          </div>
        </div> 

        <div class="thumbnail col-md-3">
          <%= image_tag "BioCorgi.jpg" %>
          <div class="caption">
            <h2>Title</h2>
            <p>Description</p>
          </div>
        </div> 

        <div class="thumbnail col-md-3">
          <%= image_tag "BioCorgi.jpg" %>
          <div class="caption">
            <h2>Title</h2>
            <p>Description</p>
          </div>
        </div> 
      </div>
    </div>

    <!-- break between user info and art --> 
    <hr>

    <!-- Container for : Artist's work -->
    <div class="container">
      <div class="row-fluid">
        <div class="row">
          <div class="thumbnail col-md-3">
            <%= image_tag "BioCorgi.jpg" %>
            <div class="caption">
              <h2>Title</h2>
              <p>Description</p>
            </div>
          </div>  
          <div class="thumbnail col-md-3">
            <%= image_tag "BioCorgi.jpg" %>
            <div class="caption">
              <h2>Title</h2>
              <p>Description</p>
            </div>
          </div> 
          <div class="thumbnail col-md-3">
            <%= image_tag "BioCorgi.jpg" %>
            <div class="caption">
              <h2>Title</h2>
              <p>Description</p>
            </div>
          </div> 
          <div class="thumbnail col-md-3">
            <%= image_tag "BioCorgi.jpg" %>
            <div class="caption">
              <h2>Title</h2>
              <p>Description</p>
            </div>
          </div> 
        </div>
        <div class="row">
          &nbsp
        </div>
        <div class="row">
          <div class="thumbnail col-md-3">
            <%= image_tag "BioCorgi.jpg" %>
            <div class="caption">
              <h2>Title</h2>
              <p>Description</p>
            </div>
          </div>  
          <div class="thumbnail col-md-3">
            <%= image_tag "BioCorgi.jpg" %>
            <div class="caption">
              <h2>Title</h2>
              <p>Description</p>
            </div>
          </div> 
          <div class="thumbnail col-md-3">
            <%= image_tag "BioCorgi.jpg" %>
            <div class="caption">
              <h2>Title</h2>
              <p>Description</p>
            </div>
          </div> 
          <div class="thumbnail col-md-3">
            <%= image_tag "BioCorgi.jpg" %>
            <div class="caption">
              <h2>Title</h2>
              <p>Description</p>
            </div>
          </div> 
        </div> 
      </div>
    </div>
  </body>
</html>
