<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%=@user.name%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Temporary location of CSS necessary for thumbnail overlay -->
    <!-- TODO: Move to other CSS file -->
    <style>
      .thumbnail {
          position:relative;
          overflow:hidden;
      }
       
      .caption {
          position:absolute;
          top:0;
          right:0;
          background:rgba(255,255,255,0.75);
          width:100%;
          height:100%;
          padding:2%;
          display: none;
          text-align:center;
          color:#000 !important;
          z-index:2;
      }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="container">
      <div class="row-fluid">
        <div class="span12">
          <div class="span3">
            <%= image_tag @user.masterpiece %>
          </div> <!-- end of span3 -->
          <div class="span9">
            <h2><%=@user.name%>'s Profile</h2>
            <h5>My name is <%=@user.name%>, and my motto is 'just keep swimming!'</h5>
            <p><span class="badge badge-important">
              <%=@user.received_commissions.count%>
                <!-- Make sure that the singular / plural grammar is correct -->
                <% if @user.received_commissions.count == 1 %>
                  </span> Commission</p>
                <% else %>
                  </span> Commissions</p>
                <% end %>
            <p>Artist since <%=@user.created_at.strftime("%B, %Y")%></p>
            <%=link_to "CommissionMe »", new_commission_path(:artist_id => @user.id), :class => "btn btn-primary"%>
            <!-- a class="btn btn-large btn-primary">CommissionMe &raquo;</a-->
          </div> <!-- span 9-->
        </div> <!-- end of span12 in hero -->
      </div> <!-- end of row-fluid in hero -->
    </div>

<!-- Container for : Artist's work -->
  <hr>
  <div class="container">
    <div class="row-fluid">
      <div class="row">
        <div class="thumbnail span3">
          <%= image_tag "BioCorgi.jpg" %>
          <div class="caption">
            <h2>Title</h2>
            <p>Description</p>
          </div>
        </div>  

        <div class="thumbnail span3">
          <%= image_tag "BioCorgi.jpg" %>
          <div class="caption">
            <h2>Title</h2>
            <p>Description</p>
          </div>
        </div> 

        <div class="thumbnail span3">
          <%= image_tag "BioCorgi.jpg" %>
          <div class="caption">
            <h2>Title</h2>
            <p>Description</p>
          </div>
        </div> 

        <div class="thumbnail span3">
          <%= image_tag "BioCorgi.jpg" %>
        </div> 
      </div>

      <div class="row">
        &nbsp
      </div>

      <div class="row">
        <div class="thumbnail span3">
          <%= image_tag "BioCorgi.jpg" %>
          <div class="caption">
            <h2>Title</h2>
            <p>Description</p>
          </div>
        </div>  

        <div class="thumbnail span3">
          <%= image_tag "BioCorgi.jpg" %>
          <div class="caption">
            <h2>Title</h2>
            <p>Description</p>
          </div>
        </div> 

        <div class="thumbnail span3">
          <%= image_tag "BioCorgi.jpg" %>
          <div class="caption">
            <h2>Title</h2>
            <p>Description</p>
          </div>
        </div> 

        <div class="thumbnail span3">
          <%= image_tag "BioCorgi.jpg" %>
        </div> 
      </div> 
    </div>
  </div>

  <!-- Render the partial template for the common footer -->
  <%= render "layouts/footer" %>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <!-- Script to show the text on the thumbnails -->
    <script>
      $("[rel='tooltip']").tooltip();    
   
      $('.thumbnail').hover(
          function(){
              $(this).find('.caption').fadeIn(250);
          },
          function(){
              $(this).find('.caption').fadeOut(250);
          }
      ); 
    </script>
  </body>
</html>
