<!DOCTYPE html>
<html>
  <head>
    <title>
      CommissionMe
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   
    <script type="text/javascript">
      function getAuthToken(){ 
        return "<%=form_authenticity_token%>"
      }
    </script>
    <div id="commissions" data-url="<%= @user.received_commissions %>" />
    <script src="/assets/requests-received.js"></script>  
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1>Commission Requests: <%=@user.name%>!</h1>
      </div>
 
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Title</th>
              <th>From</th>
              <th>Status</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
          <!-- For each commission, populate a <tr> -->
            <%@user.received_commissions.each do |commission| %>         
              <tr>
                <!-- Sender name should link to user profile -->
                
                <td><%=link_to commission.commission_current["name"],
                   review_path(:commission_id => commission.id), :class => "link"%></td>
                <td><%=link_to commission.commissioner.name, 
                  commission.commissioner %></td>
              
                <td><%=commission.state%></td>
                <td><%=commission.updated_at %></td>
              </tr>
            <%end%>  
          </tbody>
        </table>
      </div> 
    </div>
  </body>
</html>

