<!DOCTYPE html>
<html>
  <head>
    <title>
      CommissionMe
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/comreq.css">
   
    <script type="text/javascript">
      function getAuthToken(){ 
        return "<%=form_authenticity_token%>"
      }
      function getArtist(){
        return "<%=@artist.id%>"
      }
    </script>
    <div id="json_id" data-url="<%= @json.to_json %>" />
    <script text="text/javascript"><%=render 'commission_review.js'%></script>  
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1>Commission Review: <%=@artist.name%>!</h1>
      </div>
      
      <div id="com-req"></div>
    </div>
    <center>
      <%= link_to("Accept", commissions_requests_accept_path(:commission_id =>
      @commission.id), :class => "btn") %>
      <%= link_to("Decline", commissions_requests_decline_path(:commission_id => 
      @commission.id), :class => "btn") %>
    </center>
  </body>
</html>

