<!DOCTYPE html>
<html>
  <head>
    <title>
      CommissionMe
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/commission-request.css">
   
    <script type="text/javascript">
      function getAuthToken(){ 
        return "<%=form_authenticity_token%>"
      }
      function getArtist(){
        return "<%=@artist.id%>"
      }
    </script>
    <div id="json_id" data-url="<%= @json.to_json %>" />
    <script text="text/javascript"><%=render 'commission_review.js'%></script>  
  </head>
  <body>
    <div class="cscontainer">
      <div class="page-header">
        <h1>Commission Review</h1>
      </div>
      
      <% if current_user.id == @artist.id %>
        <form action="" method="post">
          <div id="com-req"></div>
          
          <div class="panel panel-info">
            <div class="panel-heading">Specification</div>
            <div class="panel-body">
            <!-- LOOP THROUGH SPECIFICATIONS AND REVIEWS -->
	     <% if !@json["spec"].nil? %>
                <% (@json["spec"].zip(@json["review"])).each do |spec, review| %>
                  <p><strong><%= spec %></strong></p>
                  <% if !review.nil? %>
                    <p><em><%= review %></em></p>
                  <% end %>
                <% end %>
	      <% end %>
            </div>
          </div>
          
          <% if @commission.state == "NewRequest" || (@commission.state == "Review" && 
	     @json["spec"].count > @json["review"].count ) %>
	            
            <div class="panel panel-info">
              <div class="panel-heading">Revised Price</div>
              <div class="panel-body">
		<% if !@json["price"].nil? %>
		  <h4><%= "$" + @json["price"].to_s %></h4>
		<% end %>
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <input id="price" name="price" class="form-control" type="text">
                </div>
              </div>
            </div>
          
            <div class="panel panel-info">
              <div class="panel-heading">Review</div>
              <div class="panel-body">
                <textarea class="form-control" name="review" placeholder="Specify revisions needed, or reasons why declined."></textarea>
              </div>
            </div>
            <center>
              <%= link_to("Accept", commissions_requests_accept_path(:commission_id =>
              @commission.id), :class => "btn") %>
              <input type="submit" name="post" class="btn" value="Submit Revision">
              <input type="submit" name="post" class="btn" value="Decline">
            </center>

	  <% elsif @commission.state == "Review" %>
	    <div class="panel panel-info">
              <div class="panel-heading">Revised Price</div>
              <div class="panel-body">
	        <% if !@json["price"].nil? %>
	          <h4><%= "$" + @json["price"].to_s %></h4>
	        <% end %>
	      </div>
            </div>
	    <div class="panel panel-info">
            <div class="panel-heading">Review</div>
            <div class="panel-body">
              <textarea class="form-control" name="review" placeholder="Specify reason for declining or wait for the commissioner to respond."></textarea>
            </div>
          </div>
	    <%= link_to("Accept", commissions_requests_accept_path(:commission_id =>
            @commission.id), :class => "btn") %>
	    <input type="submit" name="post" class="btn" value="Decline">
	  
	  <% elsif @commission.state == "Accepted" %>
	    <%= link_to("Payment Received", commissions_requests_finish_path(:commission_id => 
              @commission.id), :class => "btn") %>
	  <% elsif @commission.state == "Complete" %>
	    <%= image_tag serve_image_path(@image) %>
          <% end %>
        </form>
      <% else %>
        <form method="post">
          <div id="com-req"></div>
          <div class="panel panel-info">
            <div class="panel-heading">Specification</div>
            <div class="panel-body">
            <!-- LOOP THROUGH SPECIFICATIONS AND REVIEWS -->
	     <% if !@json["spec"].nil? %>
                <% (@json["spec"].zip(@json["review"])).each do |spec, review| %>
                  <p><strong><%= spec %></strong></p>
                  <% if !review.nil? %>
                    <p><em><%= review %></em></p>
                  <% end %>
                <% end %>
	      <% end %>
            </div>
          </div>

	  <div class="panel panel-info">
            <div class="panel-heading">Revised Price</div>
            <div class="panel-body">
	      <% if !@json["price"].nil? %>
	        <h4><%= "$" + @json["price"].to_s %></h4>
	      <% end %>
	    </div>
          </div>
          
          <!-- Display all the revisions if they exist -->
          <% if current_user.id == @commission.commissioner_id %>             
            <% if @commission.state == "Review" &&
                @commission.commission_current["review"].count == 
                @commission.commission_current["spec"].count %>
              <!-- Display text area for revision entry-->
              <div class="panel panel-info">
                <div class="panel-heading">Revision</div>
                <div class="panel-body">
                  <textarea class="form-control" name="revision" placeholder="Please revise your request to meet the artist's specification."></textarea>
                </div>
              </div>
              
              <input type="submit" name="post" class="btn" value="Submit Revision">
	    <% elsif @commission.state == "Complete" %>
	      <%= image_tag serve_image_path(@image) %>
            <% end %>	  
          <% end %>
        </form>
	<% if @commission.state == "Accepted" && 
	   current_user.id == @commission.commissioner_id %>
          <form action="https://www.paypal.com/cgi-bin/webscr" 
                method="post2" target="_top">
            <input type="hidden" name="cmd" value="_xclick">
            <input type="hidden" name="business" 
                   value=<%=User.find_by_name(@commission.artist.name).email%>>
            <input type="hidden" name="lc" value="US">
            <input type="hidden" name="item_name" 
                   value="<%=@commission.commission_current["name"]%>">
            <input type="hidden" name="button_subtype" value="services">
            <input type="hidden" name="no_note" value="0">
            <input type="hidden" name="amount" 
                   value=<%=@commission.commission_current["price"]%>>
            <input type="hidden" name="currency_code" value="USD">
            <input type="hidden" name="bn" 
                   value="PP-BuyNowBF:btn_paynow_SM.gif:NonHostedGuest">
            <input type="image" 
                   src=
                  "https://www.paypalobjects.com/en_US/i/btn/btn_paynow_SM.gif" 
                   border="0" name="submit" 
                   alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" 
                 src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" 
                 width="1" height="1">
          </form>
	<% end %>
      <% end %>
    </div>
  </body>
</html>

