<!DOCTYPE html>
<html>
  <head>
    <title>
      CommissionMe
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/commission-request.css">
   
    <script type="text/javascript">
      function getAuthToken(){ 
        return "<%=form_authenticity_token%>"
      }
      function getArtist(){
        return "<%=@artist.id%>"
      }
    </script>
    <div id="json_id" data-url="<%= @json.to_json %>" />
    <script text="text/javascript"><%=render 'commission_review.js'%></script>  
  </head>
  <body>
    <div class="cscontainer">
      <div class="page-header">
        <h1>Commission Review</h1>
      </div>
      
      <% if current_user.id == @artist.id %>
        <form action="" method="post">
          <div id="com-req"></div>
          
          <div class="panel panel-info">
            <div class="panel-heading">Specification</div>
            <div id="specification" class="panel-body"></div>
          </div>
          
          <div class="panel panel-info">
            <div class="panel-heading">Revised Price</div>
            <div class="panel-body">
              <div class="input-group">
                <span class="input-group-addon">$</span>
                <input id="price" name="price" class="form-control" type="text">
              </div>
            </div>
          </div>
          
          <div class="panel panel-info">
            <div class="panel-heading">Review</div>
            <div class="panel-body">
              <textarea class="form-control" name="review" placeholder="Specify revisions needed, or reasons why declined."></textarea>
            </div>
          </div>
          
          <% if commission.state == "NewRequest" || commission.state == "Review" %>
            <center>
              <%= link_to("Accept", commissions_requests_accept_path(:commission_id =>
              @commission.id), :class => "btn") %>
              <input type="submit" name="post" class="btn" value="Revise">
              <input type="submit" name="post" class="btn" value="Decline">
            </center>
          <% end %>
        </form>
      <% else %>
        <form>
          <div id="com-req"></div>
          <div class="panel panel-info">
            <div class="panel-heading">Specification</div>
            <div id="specification" class="panel-body"></div>
          </div>
          
          <!-- Display all the revisions if they exist -->
          <% if current_user.id == @commission.commissioner_id %>
            <% if commission.state == "Accepted" %>
            
            <!--Payment??-->
            
            <% elsif commission.state == "Review" &&
                commission.commission_current["review"].count > 
                commssion.commission_current["spec"].count %>
              <!-- Display text area for revision entry-->
              <input type="submit" name="post" class="btn" value="Submit Revision">
            <% end %>	  
          <% end %>
        </form>
      <% end %>
    </div>
<<<<<<< HEAD
=======
    <center>
      <!-- If the current user is the artist, then s/he should be able to 
        finalize a commission request that they received.  Otherwise, the action
        required is to either mark the request as Accepted or Declined.
        If the current user is not the artist, they should not be able to
        do anything in this view. -->
      <% if @artist.name == current_user.name%>
        <% if @commission.state == "Accepted"%>
          <%= link_to("Payment Received", commissions_requests_finish_path(:commission_id => 
              @commission.id), :class => "btn") %>
        <% else %>
          <%= link_to("Accept", commissions_requests_accept_path(:commission_id =>
            @commission.id), :class => "btn") %>
          <%= link_to("Decline", commissions_requests_decline_path(:commission_id => 
            @commission.id), :class => "btn") %>
        <% end %>
      <% end %>
    </center>
>>>>>>> 4c8188e99fc7bf6b88d64fe7cc71c240cad091dc
  </body>
</html>

