
<h2><%= link_to "Add Art", new_art_path%><br></h2>
<%if current_user.arts.empty? %>
  <h3>You have no art. Click the Add Art button to add some. </h3>
<%end%>
<% current_user.arts.each do |art| %>
  <div> 
    <li><%=link_to(art, :class => "item") do%>
      <%= image_tag art.location, :class => "featuredimg"  %><br/>
      <%= label_tag :descript, art.title %>  
      <%= link_to "Delete", art_path(art.id), method: :delete, 
        confirm: 'Are you certain you want to delete this?' %>
      
    <%end%>
  </div>
<% end%>
