<!DOCTYPE html>
<html>
<head>
  <title><%= render_title %></title>
  <%= stylesheet_link_tag    "application", media: "all", 
    "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header">
  <div class="navbar navbar-default">
    <div class="header navbar-inner">
      <div class="container">
        <div class="navbar">
          <div class="navbar-inner">
            <ul class="nav navbar-left">
              <li class="clearfix">
                  <a href="/">CommissionMe</a>
              </li>
            </ul>
            <ul class="nav navbar-right">
              <%if current_user %>
                <li>
                  <%= link_to current_user.name, current_user%>
                </li>
                <li>
                  <%= link_to "Messages", conversations_path %>
                </li>
                <li>
                  <%= link_to "Settings", 
                    edit_user_path(:id => current_user.id)%>
                </li>
                <%end%>
                <li>
                  <%if current_user %>
                    <%= link_to "Log Out", users_logout_path,
                      method:"post", class:"brand"%>
                  <% else %>
                    <a href="/authenticate.html">sign up/log in</a>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="flash-messages">
    <% flash.each do |name, msg| %>
    <div class="alert-message <%= name == :notice ? "success" : "error" %>">
    <a class="close" data-dismiss="alert">&#215;</a>
    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
    </div>
    <% end %>
  </div>

  <div class="bodyview">
    <!--Renders body of page-->
    <%= yield %>
  </div>

   <!-- Render the partial template for the common footer -->
   <%= render "layouts/footer" %>
</body>
</html>
