<!DOCTYPE html>
<html>
<head>
  <title>Myapp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	    <div class="navbar navbar-default">
	      <div class="navbar-inner">
	        <div class="container">
	          <ul class="nav">
	            <li class="active">
	              <a class="brand" href="/">CommissionMe</a>
	            </li>
	          </ul>
	          <ul class="nav pull-right">
	            <a class="brand" href="authenticate.html">Sign up/Log in</a>
	          </ul>
	        </div>
	      </div>
  		</div>
<p>
<%if current_user %>
	Logged in as: <%= current_user.email%></p>
	<%= link_to 'Logout', session_path(session[:user_id]), :confirm => "are you sure?", :method => :delete %>
<%else %>
	<%= link_to 'Login', new_session_path %>
<% end %>

<hr />
<% flash.each do |key, value| %>
	<div class="flash <%= key%>"><%= value%></div>
<% end %>
<%= yield %>

</body>
</html>
