<!DOCTYPE html>
<html>
<head>
  <title>Myapp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	    <div class="navbar navbar-default">
	      <div class="navbar-inner">
	        <div class="container">
	          <ul class="nav">
	            <li class="active">
	              <a class="brand" href="/">CommissionMe</a>
	            </li>
	          </ul>
	          <ul class="nav pull-right">
		    <%if current_user %>
			<%= link_to "Log out of "+current_user.email, user_logout_path, method:"post", class:"brand"%>
		    <% else %>
	            	<a class="brand" href="authenticate.html">Sign up/Log in</a>
	            <% end %>
                  </ul>
	        </div>
	      </div>
  		</div>

<hr />
<% flash.each do |key, value| %>
	<div class="flash <%= key%>"><%= value%></div>
<% end %>
<%= yield %>

</body>
</html>
